:root {
  --title-color: #2E2F42;
  --text-color: #434455;
  --contrast-color: #4D5AE5;
  --white-color: #ffffff;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--white-color);
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
  max-width: 500px;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .hero-title {
    font-size: 36px;
    line-height: 1.11;
    max-width: 320px;
  }
}

.title {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 72px;
}

.section-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-top: 8px;
}
@media only screen and (max-width: 767px) {
  .section-subtitle {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.footer-title {
  font-weight: 500;
  line-height: 1.5;
  color: var(--white-color);
  letter-spacing: 0.02cm;
  font-size: 16px;
}
@media only screen and (max-width: 767px) {
  .footer-title {
    margin-top: 72px;
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .subscribe-title {
    margin-top: 0;
  }
}

.title-modal-form {
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 14px;
}

.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-top: 8px;
}
@media only screen and (max-width: 767px) {
  .section-text {
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-text {
    font-weight: 500;
  }
}

.logo-web {
  color: var(--contrast-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--title-color);
  height: 100%;
  margin-right: auto;
}

.footer-logo {
  margin-right: 0px;
}
@media only screen and (max-width: 767px) {
  .footer-logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 16px;
  }
}

.section-footer .logo {
  color: var(--white-color);
}

.modal-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--contrast-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 16px 32px;
  margin: auto;
  margin-top: 72px;
  border: none;
  -webkit-transition: background-color var(--transition), border-radius var(--transition), -webkit-box-shadow var(--transition);
  transition: background-color var(--transition), border-radius var(--transition), -webkit-box-shadow var(--transition);
  transition: background-color var(--transition), box-shadow var(--transition), border-radius var(--transition);
  transition: background-color var(--transition), box-shadow var(--transition), border-radius var(--transition), -webkit-box-shadow var(--transition);
}
.modal-button:hover, .modal-button:focus {
  background-color: #404BBF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal-button {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-button {
    margin-top: 48px;
  }
}

.filter-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--contrast-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  -webkit-transition: color var(--transition), background-color var(--transition), -webkit-box-shadow var(--transition);
  transition: color var(--transition), background-color var(--transition), -webkit-box-shadow var(--transition);
  transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);
  transition: color var(--transition), background-color var(--transition), box-shadow var(--transition), -webkit-box-shadow var(--transition);
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--white-color);
  background-color: #404BBF;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.footer-submit-button {
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  min-width: 165px;
  border: none;
  background: #4D5AE5;
  border-radius: 4px;
  outline: none;
  margin-left: 24px;
  cursor: pointer;
  color: #FFFFFF;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 16px;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.footer-submit-button:hover, .footer-submit-button:focus {
  background-color: #404BBF;
}
@media only screen and (max-width: 767px) {
  .footer-submit-button {
    margin: auto;
    margin-top: 16px;
    text-align: center;
  }
}

.modal-close-btn {
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color var(--transition), fill var(--transition);
  transition: background-color var(--transition), fill var(--transition);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  background-color: #404BBF;
  fill: var(--white-color);
}

.modal-form-submit {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--contrast-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 16px 32px;
  margin: auto;
  max-height: 56px;
  min-width: 169px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  -webkit-transition: background-color var(--transition), border-radius var(--transition), -webkit-box-shadow var(--transition);
  transition: background-color var(--transition), border-radius var(--transition), -webkit-box-shadow var(--transition);
  transition: background-color var(--transition), box-shadow var(--transition), border-radius var(--transition);
  transition: background-color var(--transition), box-shadow var(--transition), border-radius var(--transition), -webkit-box-shadow var(--transition);
}
.modal-form-submit:hover, .modal-form-submit:focus {
  background-color: #404BBF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media only screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    gap: 40px;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu {
    margin-left: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    margin-left: 76px;
  }
}

@media only screen and (max-width: 767px) {
  .contact-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contact-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu-open {
    display: none;
  }
}

.mobile-header-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .mobile-header-container {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .page-header-container {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-header {
  border-bottom: 1px solid #E7E9FC;
}

@media screen and (min-width: 768px) {
  .page-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-item:not(:last-child) {
  gap: 40px;
}

.address-page {
  margin-left: auto;
}

.menu-link {
  font-weight: 500;
  line-height: 1.5;
  color: var(--title-color);
  letter-spacing: 0.02cm;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  display: block;
}
.menu-link:hover, .menu-link:focus {
  color: var(--contrast-color);
}

.menu-link {
  font-weight: 500;
  line-height: 1.5;
  color: var(--title-color);
  letter-spacing: 0.02cm;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  display: block;
}
.menu-link:hover, .menu-link:focus {
  color: var(--contrast-color);
}

.contact-link {
  letter-spacing: 0.02em;
  font-style: normal;
  line-height: 1.5;
  color: var(--text-color);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.contact-link:hover, .contact-link:focus {
  color: var(--contrast-color);
}

.current {
  color: #404BBF;
}
.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404BBF;
  position: absolute;
  bottom: -1px;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transform: translateX(-140%);
          transform: translateX(-140%);
  background-color: var(--white-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  padding: 40px;
}

@media only screen and (max-width: 767px) {
  .mobile-menu-close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-transition: background-color var(--transition), fill var(--transition);
    transition: background-color var(--transition), fill var(--transition);
  }
  .mobile-menu-close-btn:hover, .mobile-menu-close-btn:focus {
    background-color: #404BBF;
    fill: var(--white-color);
  }
}

.mobile-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.mobile-menu-item:hover, .mobile-menu-item:focus {
  color: var(--contrast-color);
}

.mobile-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  padding-top: 40px;
}

.contact-menu-mobile {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.menu-mobile-tel {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  color: var(--title-color);
}
.menu-mobile-tel:hover, .menu-mobile-tel:focus {
  color: var(--contrast-color);
}

.menu-mobile-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.menu-mobile-mail:hover, .menu-mobile-mail:focus {
  color: var(--contrast-color);
}

.social-list-mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 56px;
  margin-top: 48px;
}

@media only screen and (min-width: 428px) {
  .hero {
    background-color: var(--title-color);
    padding-top: 112px;
    padding-bottom: 112px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 111px;
    padding-bottom: 108px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

.hero-overlay {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 767px) {
  .hero-overlay {
    min-height: 432px;
    max-width: 428px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(/images/hero-image/bgi-mobile.jpg);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/hero-image/bgi-mobile.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-overlay {
    min-height: 436px;
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(/images/hero-image/bgi-tablet.jpg);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/hero-image/bgi-tablet.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-overlay {
    height: 600px;
    max-width: 1440px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(/images/hero-image/people-office.jpg);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/hero-image/people-office.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(/images/hero-image/bgi-mobile@2x.jpg);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/hero-image/bgi-mobile@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(/images/hero-image/bgi-tablet@2x.jpg);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/hero-image/bgi-tablet@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(/images/hero-image/bgi-desktop@2x.jpg);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/hero-image/bgi-desktop@2x.jpg);
  }
}
@media only screen and (max-width: 767px) {
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits-list:nth-child(1),
  .benefits-list:nth-child(2) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits-item {
    width: 356px;
  }
}

.benefits {
  padding-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .benefits-item {
    -ms-flex-preferred-size: calc((100% - 72px) / 4);
        flex-basis: calc((100% - 72px) / 4);
  }
}

.icon-div-benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 264px;
  height: 112px;
  background-color: #F4F4FD;
  border-radius: 4px;
}
@media only screen and (max-width: 767px) {
  .icon-div-benefits {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-div-benefits {
    display: none;
  }
}

.list-doing-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 767px) {
  .list-doing-img {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-doing-img {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .doing-title {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .doing-title {
    display: none;
  }
}

.team {
  background-color: #F4F4FD;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  -ms-flex-preferred-size: calc((100% - 72px) / 4);
      flex-basis: calc((100% - 72px) / 4);
}
@media only screen and (max-width: 767px) {
  .team-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 72px;
    -ms-flex-preferred-size: calc((100% - 48px) / 3);
        flex-basis: calc((100% - 48px) / 3);
  }
}

.card-text {
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid #E7E9FC;
}

.card-text-member {
  text-align: center;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
@media only screen and (max-width: 767px) {
  .customers-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 72px;
  }
}

.customers-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 88px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  fill: #8E8F99;
  -webkit-transition: fill var(--transition), border var(--transition);
  transition: fill var(--transition), border var(--transition);
}
.customers-list-link:hover, .customers-list-link:focus {
  fill: #404BBF;
  border: 1px solid #404BBF;
}

.customers-list-item {
  width: 168px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--contrast-color);
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.social-list-link:hover, .social-list-link:focus {
  background-color: #404BBF;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  margin-top: 16px;
}
@media only screen and (max-width: 767px) {
  .footer-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 72px;
    margin-right: 110px;
  }
}

.footer-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #434455;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.footer-list-link:hover, .footer-list-link:focus {
  background-color: #31D0AA;
}

@media only screen and (max-width: 767px) {
  .footer-social {
    width: 208px;
    margin-left: 120px;
  }
}

.section-footer {
  background: var(--title-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #E7E9FC;
  max-width: 300px;
  margin-top: 16px;
}
@media only screen and (max-width: 767px) {
  .footer-text {
    width: 268px;
    height: 72px;
    margin: auto;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 108px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-form-input {
  height: 40px;
  width: 264px;
  background-color: #2E2F42;
  outline: none;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-top: 16px;
}
@media only screen and (max-width: 767px) {
  .footer-form-input {
    width: 396px;
  }
}

.footer-form-icon {
  margin-left: 16px;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .footer-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 767px) {
  .footer-subscribe-form {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-subscribe-form {
    margin-top: 72px;
  }
}

@media only screen and (max-width: 767px) {
  .subscribe-title {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 48px;
  -ms-flex-preferred-size: calc((100% - 48px) / 3);
      flex-basis: calc((100% - 48px) / 3);
  margin-top: 72px;
}

.portfolio {
  padding-top: 96px;
}

.portfolio-list .card-text {
  padding-left: 16px;
}

.project-card {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--transition);
  transition: -webkit-box-shadow var(--transition);
  transition: box-shadow var(--transition);
  transition: box-shadow var(--transition), -webkit-box-shadow var(--transition);
}

.card-portfolio {
  -webkit-transition: border var(--transition);
  transition: border var(--transition);
}

.portfolio-list .project-card:hover,
.portfolio-list .project-card:focus {
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list .project-card:hover .card-portfolio,
.portfolio-list .project-card:focus .card-portfolio {
  border: 0.5px solid #F4F4FD;
}

/*OVERLAY CARD*/
.portfolio-overlay-div {
  position: relative;
  overflow: hidden;
}

.portfolio-card-overlay {
  background-color: #4D5AE5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  color: #F4F4FD;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}

.project-card:hover .portfolio-card-overlay,
.project-card:focus .portfolio-card-overlay {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  -webkit-transition: opacity var(--transition), visibility var(--transition);
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #FCFCFC;
  padding: 72px 24px 24px;
  border-radius: 4px;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-last-field {
  margin-bottom: 16px;
}

.modal-form-input-desc {
  display: block;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #8E8F99;
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  -webkit-transition: border-color var(--transition);
  transition: border-color var(--transition);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--contrast-color);
}

.modal-form-input:focus + .icon-modal-form {
  fill: var(--contrast-color);
}

.icon-modal-form {
  position: absolute;
  display: block;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.modal-form-message {
  display: block;
  width: 100%;
  resize: none;
  padding: 8px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--transition);
  transition: border-color var(--transition);
}
.modal-form-message::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message::-moz-placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--contrast-color);
}

.modal-form-input:not(:-moz-placeholder-shown) + .icon-modal-form {
  fill: var(--contrast-color);
}

.modal-form-input:not(:-ms-input-placeholder) + .icon-modal-form {
  fill: var(--contrast-color);
}

.modal-form-input:not(:placeholder-shown) + .icon-modal-form {
  fill: var(--contrast-color);
}

.modal-form-message:not(:-moz-placeholder-shown), .modal-form-input:not(:-moz-placeholder-shown) {
  border-color: var(--contrast-color);
}

.modal-form-message:not(:-ms-input-placeholder), .modal-form-input:not(:-ms-input-placeholder) {
  border-color: var(--contrast-color);
}

.modal-form-message:not(:placeholder-shown),
.modal-form-input:not(:placeholder-shown) {
  border-color: var(--contrast-color);
}

.modal-form-check-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  margin-bottom: 24px;
}
.modal-form-check-desc::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2E2F42;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
}

.modal-form-checkbox:checked + .modal-form-check-desc::before {
  background-image: url(../images/icon-done.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #404BBF;
  border: #404BBF;
}

.modal-form-checkbox:focus + .modal-form-check-desc::before {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.modal-link-policy {
  color: var(--contrast-color);
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */