

.benefits-list{
    @include mobile-only{
        display: flex;
        flex-direction: column;

        gap: 72px;
    };

    @include tablet-only{
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;

        row-gap: 72px;
        column-gap: 24px;
    };

    @include desktop{
        display: flex;
        column-gap: 24px;
    };
}





.benefits-item{

    @include tablet-only{
        width: 356px;
    }
}


.benefits{

        padding-bottom: 0;
}

.benefits-item {
    @include desktop{
       flex-basis: calc((100% - 3 * 24px) / 4);
    }
    
}




.icon-div-benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;

    @include mobile-only{
        display: none;
    }

    @include tablet-only{
        display: none;
    }

}