.list-doing-img {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile-only{
        display: none;
    };

    @include tablet-only{
        display: none;
    };
}

.doing-title{
    @include mobile-only{
        display: none;
    };

    @include tablet-only{
        display: none;
    };
}

.doing{

    @include mobile-only{
        padding-top: 0;
    };

    @include tablet-only{
        padding-top: 0;
    };
}

