.menu{
    @include mobile-only{
        display: none;
    }

    @include tablet{
     display: flex;
     align-items: center;
    //  justify-content: space-between;
     height: 100%;
     gap: 40px;
     margin-right: auto;
    }

    @include tablet-only{
        margin-left: 120px;
    }

    @include desktop{
        margin-left: 76px;
    }

}

.contact-menu{
    @include mobile-only{
        display: none;
    }

    @include tablet-only{
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-left: auto;
    }

    @include desktop{
        display: flex;
        align-items: center;
        gap: 40px;
    }
}

.mobile-menu-open{
    @include mobile-only{
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
    }
    @include tablet{
        display: none;
    }
    @include desktop{
        display: none;
    }
}

.mobile-header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;

    @include tablet {
        display: none;
    }

}


.page-header-container{
    @include mobile-only{
    display: none;
    };

    @include tablet-only {
        display: flex;
        align-items: center;
    }

    @include desktop{
        display: flex;
        align-items: center;
    }
    
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
}

.page-nav{
    @include tablet{
        display: flex;
        align-items: center;
    }

}

.menu-item:not(:last-child){
    gap: 40px;
}

.address-page{
    margin-left: auto;
}



.menu-link {
         font-weight: 500;
         line-height: 1.5;
         color: var(--title-color);
         letter-spacing: 0.02cm;

         transition: color var(--transition);
         padding-top: 24px;
         padding-bottom: 24px;
         position: relative;
         display: block;

         &:hover,
         &:focus {
               color: var(--contrast-color);
            }
     }



// .page-header-container {
//     display: flex;
//     align-items: center;


// }

// .page-header {
//     border-bottom: 1px solid #E7E9FC;


// }

// .page-nav {
//     display: flex;
//     align-items: center;

// }

// .menu {
//     display: flex;
//     align-items: center;
//     height: 100%;
// }

//  .contact-menu {
//      display: flex;
//      align-items: center;
//      gap: 40px;
//  }

// .contact-link {
//     display: flex;
// }


// .menu-item:not(:last-child) {
//     margin-right: 40px;
// }


// //    HEADER TYPOGRAPHY AND HOVER


 .menu-link {
     font-weight: 500;
     line-height: 1.5;
     color: var(--title-color);
     letter-spacing: 0.02cm;

     transition: color var(--transition);
     padding-top: 24px;
     padding-bottom: 24px;
     position: relative;
     display: block;

     &:hover,
     &:focus {
             color: var(--contrast-color);
         }
 }

 .contact-link {
     letter-spacing: 0.02em;
     font-style: normal;
     line-height: 1.5;

     color: var(--text-color);
     transition: color var(--transition);

     &:hover,
     &:focus {
    
             color: var(--contrast-color);
         }
 }


// // CURRENT STYLES

 .current {
    color: #404BBF;

    &::after {
             content: '';
             display: block;
             width: 100%;
             height: 4px;
             border-radius: 2px;
             background-color: #404BBF;
             position: absolute;
             bottom: -1px;
         }
 }

