.mobile-menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;

    // transform: translateX(-140%);
    
    background-color: var(--white-color);
    

    @include tablet-only{
        display: none;
    };

    @include desktop{
        display: none;
    }
}

.mobile-menu-container{
    position: relative;
    padding: 40px;
}


.mobile-menu-close-btn{
    @include mobile-only{
        position: absolute;
        top: 40px;
        right: 40px;
        width: 24px;
        height: 24px;
    
        border-radius: 50%;
        padding: 0;
        background-color: #E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
    
        transition: background-color var(--transition),
            fill var(--transition);
    
    
        &:hover,
        &:focus {
            background-color: #404BBF;
            fill: var(--white-color);
        }
    }
}

//         MENU STYLES

.mobile-menu-item{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    color: var(--title-color);

    &:hover,
    &:focus {
        color: var(--contrast-color);
    }

}

.mobile-menu-list{
    display: flex;
        flex-direction: column;
        gap: 40px;
        padding-top: 40px;

}

.contact-menu-mobile{
    margin-top: auto;
}
