

//    SOCIAL LIST TEAM

.social-list{
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-top: 8px;

}
.social-list-link{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--contrast-color);

        transition: background-color var(--transition);

    &:hover,
    &:focus {
        background-color: #404BBF;
    }
}


//    SOCIAL LIST FOOTER

.footer-list {
    display: flex;
    column-gap: 16px;
    margin-top: 16px;

    @include mobile-only{
        justify-content: center;
        align-items: center;

    }
}

.footer-list-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #434455;

    transition: background-color var(--transition);

   &:hover,
   &:focus {
        background-color: #31D0AA;
    }
}


.footer-social {

    @include mobile-only{
        width: 208px;
        
      
    }
    


}
