
//       TITLE TYPOGRAPHY
.hero-title {

    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
    max-width: 500px;
    margin: auto;

    @include mobile-only{
    font-size: 36px;
    line-height: 1.11;
    max-width: 320px;
    }

    @include tablet-only{
        
    }



}

.title {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 72px;
}

.section-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-top: 8px;

    @include mobile-only{
        text-align: center;
    }

    @include tablet-only {
        
    }

    @include desktop{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

.card-text-member .section-subtitle{
    @include mobile-only{
        font-size: 20px;
    }

     @include tablet-only{
        font-size: 20px;
     }
}

.footer-title {
    font-weight: 500;
    line-height: 1.5;
    color: var(--white-color);
    letter-spacing: 0.02cm;
    font-size: 16px;

    @include mobile-only{

        text-align: center;
        margin-bottom: 16px;
    }

}

.subscribe-title{
    @include mobile-only{
        margin-top: 0;
    }
}

.title-modal-form {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 14px;

}

// TEXT STYLES

.section-text {

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-top: 8px;

    @include mobile-only{
        font-weight: 500;
    };

    @include tablet-only{
        font-weight: 500;
    };

}

